BUN_ENV=development

# ------------------------------------------------------------------------------
# P r i s m a
# ------------------------------------------------------------------------------
DATABASE_URL="postgresql://<USERNAME>:<PASSWORD>@<HOSTNAME>/<DB_NAME>?schema=<SCHEMA>&connection_limit=10&sslnegotiation=direct?sslcert=src/config/resources/postgresql/server.crt"
DATABASE_URL_ADMIN="postgresql://<ADMIN_USERNAME>:<ADMIN_PASSWORD>@<HOSTNAME>/<DB_NAME>?schema=<SCHEMA>&connection_limit=10&sslnegotiation=direct?sslcert=src/config/resources/postgresql/server.crt"

# ------------------------------------------------------------------------------
# K e y c l o a k
# ------------------------------------------------------------------------------
# Keycloak http://localhost:8880: Client > Credentials > Client Secret
CLIENT_SECRET="<CLIENT_SECRET>"
